@import '../../styles/utils.scss';

/* 자동으로 고유해질 것이므로 흔히 사용되는 단어를 클래스 이름으로 마음대로 사용가능*/

.form {
  text-align: center;

  .input {
      margin-bottom: 5px;
      width: 50%;
      height: 35px;
    }

  .button {
    width: 50%;
    height: 35px;
  }
}

  
  /* 글로벌 CSS 를 작성하고 싶다면 */
  
  :global {
    .something {
      font-weight: 800;
      color: aqua;
    }
  }