@import './styles/utils.scss';

h1 {
  font-size: 50px;
  font-weight: 900;
}

.App {
  display: block;
  text-align: center;
}

.box {
  padding: 30px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &.red {
    // .red 클래스가 .box 와 함께 사용 됐을 때
    background: $red;
  }
  &.orange {
    background: $orange;
    @include square(2);
  }
  &.yellow {
    background: $yellow;
    //@include square(3);
  }
  &.green {
    background: $green;
  }
  &.blue {
    background: $blue;
    @include square(5);
  }
  &.indigo {
    background: $indigo;
    @include square(6);
  }
  &.violet {
    background: $violet;
    @include square(7);
  }
  &:hover {
    // .box 에 마우스 올렸을 때
    background: black;
  }
}

.search-box {
  margin-bottom: 30px;
  width: 50%;
  height: 35px;
}